html, body{
    margin: 0px;
    background-color: #9ED5C5;
}

#calc-display{
    background-color: #DEF5E5;
    width: 200px;
    font-size: 32px;
}
#calculator{
    margin-left: 45vw;
    border: solid;
    border-color:black;
    width: 200px;
    height: 320px;
    margin-top:10px;
}

#number-grid button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
}

#btn0 {
    position: relative;
    left: 54px;
}
#btnClear{
    position: relative;
    left: 54px;
}

#func-column{
    position: relative;
    left: 160px; 
    bottom: 200px;
    display: flex;
    flex-direction: column;
    width: 50px;
}
#func-column button{
    border-radius: 50%;
    height:40px;
    width:40px;
}

.inactive {
    background-color: grey;
}